/* styles.css */
ul {
    list-style-type: none;
    padding: 0;
    background-color: #e6e6e6;
}

li {
    padding: 8px 12px;
    border-bottom: 1px solid #ccc;
}

ul ul {
    margin-left: 20px;
    display: none;
}

ul li:hover > ul {
    display: block;
}